@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FAFAFA;
  --background-gray: #BDBDBD;
  --background-modal: rgba(0, 0, 0, 0.3);
  --text-black: #222222;
  --text-deepgray: #616161;
  --text-disabled: #9E9E9E;
  --text-placeholder: #BDBDBD;
  --primary: #FFC36F;
  --primary-light: #FFD66F;
  --border: #E9E9E9;
  --border-input: #BDBDBD;
  --border-activative: #222222;
  --action-warning: #DC2023;

  --text-heading1: 1.5rem;
  --text-heading2: 1.375rem;
  --text-heading3: 1.25rem;
  --text-heading4: 1.125rem;
  --text-body1: 1rem;
  --text-body2: 0.875rem;
  --text-detail: 0.75rem;

  --width-base: 1024px;
  --radius: 1rem;
}

body {
  color: var(--text-black);
  background-color: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
